{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}


	<div class="container">
        <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h1 class="mt-4 mb-3">Inscription</h1>

            <hr>


        {{ form_start(form) }}

		{{ form_widget(form) }}

		<button type="submit" class="btn btn-success">Inscription</button>
		
		{{ form_end(form) }}

		<hr>

		Déjà inscris ? <a href="{{ path('security_login') }}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Connexion</a>


        </div>
        </div>
	</div>


{% endblock %}
