@import "~bootstrap/scss/bootstrap";


html,
body {
  height: 100%;
  background: #ffffff;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

.btn-success {
    margin-top: 1rem;
}

.pb-5, .py-5 {
    padding-bottom: 2rem !important;
    padding-top: 2rem !important;
    margin-top: 2rem;
}