@import "~bootstrap/scss/bootstrap";


html,
body {
  height: 100%;
  background: #ffffff;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

.btn-success {
    margin-top: 1rem;
}

.pb-5, .py-5 {
    padding-bottom: 2rem !important;
    padding-top: 2rem !important;
    margin-top: 2rem;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: red;
    border-color: red;
}
.btn-lg, .btn-group-lg > .btn {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}